.button{
    -fx-background-color: 
        #79849b,
        linear-gradient(#79849b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#79849b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Helvetica";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button:hover {
	-fx-background-color: 
        #9ba3b4,
        linear-gradient(#79849b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#79849b, #323a44),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.button:focused {
	-fx-background-color: 
        #79849b,
        linear-gradient(#79849b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#79849b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.label{
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#shoutout{
	-fx-text-fill: white;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 60px;

}

#gameoverhead {
	-fx-text-fill: black;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
	}
	
#gameover {
	-fx-text-fill: black;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
	}